.gestao{
  /*background-color: #198754;
  color: white;
  border-color: #198754;*/
}
.eletronica{
  /*background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;*/
}
.mecanica{
  /*background-color: #ffc107;
  color: white;
  border-color: #ffc107;*/
}
.software{
  /*background-color: #fd7e14;
  color: white;
  border-color: #fd7e14;*/
}
.comunicacao{
  /*background-color: #6610f2;
  color: white;
  border-color: #6610f2;*/
}
